PG_HOST="localhost"
PG_PORT="5433"
PG_USER="postgres"
PG_PASSWORD="postgres"
PG_NAME="analytics"

RMQ_USER="analytics_consumer"
RMQ_PASSWORD="01766"
RMQ_HOST="localhost"
RMQ_PORT="5672"

ENV_TYPE="local"
